
#back-button {
    top: 10px;
    left: 10px;
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: black;
}

#toggle-mode {
    top: 10px;
    right: 10px;
    padding: 10px;
}

#blog-entries {
    display: block;
    justify-content: flex-start;

    padding: 20px;
    border: 1px solid black;
}

.entry {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

.entry h2 {
    font-weight: bold;
    text-decoration: underline;
    width: 100%;
}

.entry p {
    text-indent: 20px;
    font-style: italic;
}

.entry .posted-by {
    text-indent: 0;
    font-style: normal;
    font-weight: bold;
    margin-top: 10px;
}