
#back-button {
    top: 10px;
    /* width: 40px; */
    left: 10px;
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: black;
}

.header {
    display: inline-flex;
    justify-items: space-between;
    align-items: center;
    padding: 10px 20px;
}

.arrow-left {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid white;
    margin-right: 8px;
}

h1 {
    margin-left: 20px;
}

.button-container img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.button-container {
    padding: 20px;
    display: inline-flex;
}

#toggle-mode {
    top: 10px;
    right: 10px;
    padding: 10px;
}

#blog-entries {
    display: block;
    justify-content: flex-start;
    padding: 20px;

}

.entry {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

.entry h2 {
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 100%;
}

.entry h3 {
    font-style: italic;
    text-indent: 20px;
}

.entry .posted-by {
    margin-bottom: 3px;
}

footer {
    border-top: 8px solid black;
    border-top-style: double;
    border-bottom: 8px solid black;
    margin-bottom: 0;
}

footer h1 {
    text-align: center;
    font-size: 13px;
    padding-top: 15px;
}

footer p {
    display: flex;
    align-items: column;
    font-size: 12px;
    margin-left: 10px;
}

h2 {
    font-size: 15px;
    font-weight: bold;
    font-family: serif;
}

h3 {
    font-size: 12px;
    font-style: italic;
    font-family: sans-serif;
}

p {
    font-size: 12px;
    font-family: sans-serif;
}
