

form {
    display: flex;
    flex-direction: column;
    align-content: center;
}

label {
    margin-top: 10px;
}

input, textarea, button {
    margin-top: 5px;
    padding: 10px;
}

button {
    margin-top: 20px;
}

