header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 12px solid black;
    border-style: none none double none;
    height: 100px;
}

.button-container img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

body {
    font-family: Arial, sans-serif;
}

.left-side {
    border-right-style: double;
    border-right-width: 12px;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .entry {
    border-color: #444;
}